@import 'bootstrap/dist/css/bootstrap.min.css';

.header2-logo
{
    height: 50px;
    width: 200px;
}

.me-auto
{
    padding-left: 79%;
}

.AllEvents-Actions
{
    padding: 0px 10px;
    float: left;
}

.delete
{
    color: red;
}