/* #input-name, #input-age, #input-location, #input-occupation {
    padding: 5px;
    margin-right: 10px;
  }
  
  #update-button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  
  #update-button:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
   */

   .profile-edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
  }
  
  .section-header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .profileedit-section {
    min-height: calc(100vh - 397.5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 280px) and (max-width: 575px) {
    
  }