#input-name, #input-age, #input-location, #input-occupation {
    padding: 5px;
    margin-right: 10px;
  }
  
  #update-button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  
  #update-button:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  