.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  display: flex;
  width: 80%;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile-picture-container {
  width: 40%;
  text-align: center;
  margin-right: 20px;
}

.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.edit-button {
  display: block;
  margin: 10px auto;
}





.profile-card h2 {
  margin: 20px 0;
  font-size: 24px;
}

.profile-card p {
  margin: 10px 0;
  font-size: 16px;
}

.profile-card ul {
  list-style: none;
  padding: 0;
}

.profile-card li {
  margin: 10px 0;
  font-size: 14px;
}

.about-me-section {
  float: right;
  width: 50%;
  text-align: left;
  padding: 20px;
}

.about-me-section h3 {
  margin: 0;
  font-size: 20px;
}

.about-me-section p {
  margin: 10px 0;
  font-size: 16px;
}
