
.carousel {
  margin: auto;
  padding: 0 120px;
}

.carousel-item {
  padding: 40px 0 0 0;
  flex-direction: column;
  align-items: center;
}

.carousel-indicators {
  top: 0; 
}

.carousel-control-prev, .carousel-control-next {
  z-index: 1;
}


.carousel-inner {
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin: auto
}

.options {
  justify-content: center;
  margin-top: 10px;
}

.options label {
  align-items: center;
}


.form-label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}