
.questionary {
    align-items: center;
    height: 50vh;
    margin: auto;
    padding: auto;
  }
   
  .carousel-item {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: auto;
    padding: auto;
  }
/* 
  .mb-3 {
    width: 50%;
    margin: auto;
  } */


  /*
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .options label {
    margin: 10px 0;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    bottom: 50px;
  }
  
  .prev-button {
    left: 50px;
  }
  
  .next-button {
    right: 50px;
  } */